.search-form-container {
  background-color: #edc640;
  padding: 5%;
}

h1 {
  font-size: 1.5em;
}

h2 {
  color: #444;
  font-weight: normal;
  font-size: 1em;
}

input {
  width: 100%;
}

.loading {
  background-image: url('http://loadinggif.com/images/image-selection/3.gif');
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 15px 15px;
}

/* tablet */

@media screen and (min-width: 600px) {
  .search-form-container {
    width: 50%;
  }
}

/* desktop */

@media screen and (min-width: 1025px) {
  .search-form-container {
    width: 25%;
  }
}
