.result {
  background-color: white;
  border: 0.1px solid lightgrey;
  width: 500px;
  display: grid;
  grid-template-columns: 2fr 8fr;
}

.result:hover {
  background-color: lightskyblue;
}

.result-type {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px auto;
  width: 80%;
  color: white;
  background-color: purple;
  border-radius: 5%;
}

.result-body {
  margin: 5px;
}

.result-details {
  color: grey;
  font-size: 10px;
}
