.result {
  background-color: white;
  border: 0.1px solid lightgrey;
  display: grid;
  grid-template-columns: 2fr 8fr;
  width: 100%;
}

.result:hover {
  background-color: lightskyblue;
}

.result-type {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5%;
  color: white;
  background-color: purple;
  margin: 5%;
}

.result-body {
  font-size: 1em;
  margin: 5%;
}

.result-name {
  font-size: 0.85em;
}

.result-details {
  font-size: 0.75em;
  color: grey;
}

/* desktop */

@media screen and (min-width: 1025px) {
  .result-type {
    margin: 10%;
  }

  .result-body {
    margin: 2.5%;
  }
}
